@{
    ViewData["Title"] = "Product Compare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<ProductCompareDotNet.Models.SubCategory>
@Html.Partial("_ProductPost")
    <div class="row">
        <div class="col-sm-12 subMain">
            @*<form action="/SubCategories/AddSub" method="post">
                <input name="subCatName" placeholder="name"/>
                <input name="subCatImg" placeholder="image" />
                <select>
                    @foreach (var category in ViewBag.Categories)
                    {
                    <option value="@category.CategoryName"></option>
                    }

                </select>
                <button>Submit</button>
            </form>*@
            <div class="subCatParent">
                @foreach (var subCategory in Model)
                {
                <div class="subCatBox">
                 
                    <h3 class="subCatHeader">@Html.ActionLink(subCategory.SubCategoryName, "SubList", "SubCategories", new { id = subCategory.SubCategoryId })</h3>
                    <img class="subCatPic" src="http://s.productreview.com.au/categories/images/t/95/strollers_1068_1348549562.jpg" />

                </div>
                }
            </div>
        </div>

        @*Newly Added Products
        <hr />
        <div class="col-sm-4">
            @foreach (var product in ViewBag.Products)
            {
                <li>@product.ProductName</li>
            }
        </div>*@

    </div>
