@{
    ViewData["Title"] = "Product Compare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<ProductCompareDotNet.Models.Product>

<form action="~/SubCategories/AddProductToSublist/" method="post">
    <h4>Add Product To Sub Category</h4>
    <input name="Name" placeholder="Product Link"/>
    <input hidden name="subId" value=@ViewBag.SubId />
    <button>Submit</button>
</form>


<div class="subCatParent">

    @foreach (var product in Model)
    {


        <div class="product-box">
                <img  class="subCatPic" src="@product.ProductImg">
    
            <div class="namePriceRow">
                <div class="product-name">
                    @Html.ActionLink(product.ProductName, "ProductList", "Products", new { id = product.ProductId })
                </div>
                <div class="product-sale-price">
                    $@product.ProductPrice
                </div>

            </div>
                <div class="viewArticle">
                <p>View Article</p>
                </div>
        </div>

    }


</div>

