@{
    ViewData["Title"] = "Product Compare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims

@model IEnumerable<ProductCompareDotNet.Models.Product>

@foreach (var product in Model)
{
    <div class="center">
        <h2>@product.ProductName</h2>
        <div class="img-wrap">
        <img src="@product.ProductBigImg" height="300" width="300" />
        </div>
        <a class="btn btn-danger btn-circle" href="@product.ProductLink">SHUT UP AND TAKE MY MONEY</a>

    </div>
}